.invent {
  margin: 5rem;
}

.invent-con {
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  gap: 2rem;
}
.shoe img {
  height: 10rem;
  width: 10rem;
}

.shoe-price {
  border-radius: 4px solid grey;
  box-shadow: 2px 3px 3px grey;
  padding: 0.6rem;
  color: black;
}
